<h2>Questions</h2>

<table border=1 rules=cols cellpadding=10 cellspacing=0 >
  <tr style="border-bottom: 1px solid black; font-weight: 600;">
    <th>№</th>
    <th>Body</th>
    <th>Id</th>
    <th colspan=2>Actions</th>
  </tr>
  <%= render "shared/questions", question: @question, number: 1 %>
</table>  
