<% if resouse.errors.present? %>
  <div> 
    <h2><%= pluralize(resouse.errors.count, "error") %> detected:</h2>

    <ul>
      <% resouse.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
    
  </div>
<% end %>
