<h2>Questions</h2>

<table border=1 rules=cols cellpadding=10 cellspacing=0 >
  <tr style="border-bottom: 1px solid black; font-weight: 600;">
    <th>Id</th>
    <th>Body</th>    
    <th colspan=2>Actions</th>
  </tr>

  <%= render @test.questions %>

</table>  
