<div class="row justify-content-center mt-3">
  <div class="col-auto">

    <div class="card">
      <div class="card-header">
        <%= t('.title') %>
      </div>

      <div class="card-body">
        <div class="card-title">
          <%= t('admin.gists.index.question') + ': "' + @question.body %>"
        </div>

        <div class="card-text">
          <%= render 'form', answer: @answer %>
        </div>
      </div>
    </div>

    <%= render "shared/links" %>
  </div>
</div>