<div class="row justify-content-center mt-3">
  <div class="col-auto">

    <div class="card">
      <div class="card-header">
        <%= t('.title') %>
      </div>

      <div class="card-body card-text">
        <%= render "form" %>
      </div>
    </div>

    <%= render "shared/links" %>
  </div>
</div>
