<div class="row justify-content-center mt-3">
  <div class="col-auto">

    <h3>All Tests list</h3>

    <table class="table table-sm" >
      <thead class="thead-light">
      	<tr>
      		<th scope="col" class='sort-by-title pointer'>
            Title
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
      		<th scope="col">Level</th>
      		<th scope="col">Category</th>
      		<th scope="col">Author</th>
      		<th scope="col">Questions</th>
      		<th scope="col">Actions</th>
      	</tr>
      </thead>

    	<%= render @tests %>
    </table>

  </div>
</div>
