    <p>
      <br>
      <%= this_year %>. Savelov Vitaliy.       
      <%= github_url("Savelov-Vitaliy", "test-guru") %>
      . My project. Учебный проект в онлайн-школе 
      <%= link_to "Thinknetica", "https:/thinknetica.com", :target => "_blank"  %> 
    </p>